:root {
  --background-active: #fff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-active: gray;
  }
}
.navItem {
  width: 100%;
  aspect-ratio: 1/1;

  border-radius: 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
.navItem > small {
  font-size: 75%;
}

.navItem:hover,
.navItem.active {
  background-color: var(--background-active);
}
.navItem.active {
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navItem.active > small {
  display: none;
}
